* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hi;
}

.container {
    position: relative;
    width: 100%;
}

.nav {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: .5s;
    overflow: hidden;
}

.nav ul li a span img {
    position: absolute;
    left: -17px;
}

.nav.ativo {
    width: 80px;
}

.nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.nav ul li:hover,
.nav ul li.pairar {
    background: var(--white);
}

.nav ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.nav ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.nav ul li:hover a,
.nav ul li.pairar a {
    color: var(--blue);
}

.nav ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.nav ul li a .icon ion-icon {
    font-size: 1.75em;
}

.nav ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.nav ul li a .erp {
    top: 20px;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* curva para fora */

.nav ul li:hover a::before,
.nav ul li.pairar a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.nav ul li:hover a::after,
.nav ul li.pairar a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/* Principal */

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.ativo {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.pesquisa {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.pesquisa label {
    position: relative;
    width: 100%;
}

.pesquisa label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.pesquisa label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardsBox {
    position: relative;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.cardsBox .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: all 1s ease;
    width: 90%;
}

.cardsBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}

.cardsBox .card .cardName {
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}

.cardsBox .card .iconBox {
    font-size: 3.5em;
    color: var(--black2);
}

.cardsBox .card:hover {
    background: var(--blue);
    width: 100%;
    z-index: 10;
}

.cardsBox .card:hover .numbers,
.cardsBox .card:hover .cardName,
.cardsBox .card:hover .iconBox {
    color: var(--white);
}

.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
}

.details .ordemRecente {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td {
    font-weight: 600;
}


.details .ordemRecente table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .ordemRecente table tr:last-child {
    border-bottom: none;
}
.details .ordemRecente table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
}

.details .ordemRecente table tr td {
    padding: 10px;
}

.details .ordemRecente table tr td:last-child {
    text-align: end;
}

.details .ordemRecente table tr td:nth-child(2) {
    text-align: end;
}

.details .ordemRecente table tr td:nth-child(3) {
    text-align: center;
}

.status.entregue {
    padding: 1px 2px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.pendente {
    padding: 1px 2px;
    background: #f9ca3f;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.retorno {
    padding: 1px 2px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.andamento {
    padding: 1px 2px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.clientesRecentes {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.clientesRecentes .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.clientesRecentes .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.clientesRecentes table tr:hover {
    background: var(--blue);
    color: var(--white);
}

.clientesRecentes table tr td {
    padding: 12px 10px;
}

.clientesRecentes table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

.clientesRecentes table tr td h4 span {
    font-size: 14px;
    color: var(--black2);
}

.clientesRecentes table tr:hover {
    background: var(--blue);
    color: var(--white);
}

.clientesRecentes table tr:hover td h4 span {
    color: var(--white);
}

/* Responsividade */

@media (max-width: 991px) {
    .nav {
        left: -300px;
    }

    .nav.ativo {
        width: 100%;
        left: 0;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.ativo {
        left: 300px;
    }

    .cardsBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1, 1fr);
    }

    .ordemRecente {
        overflow-x: auto;
    }

    .status.andamento {
        white-space: nowrap;
    }
}

@media (max-width: 480) {
    .cardsBox {
        grid-template-columns: repeat(2, 1fr);
    }

    .cardHeader h2 {
        font-size: 20px;
    }

    .user {
        min-width: 40px;
    }

    .nav {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .nav.ativo {
        width: 100;
        left: 0;
    }

    .toggle {
        z-index: 10001;
    }

    .main.ativo .toggle {
        position: fixed;
        right: 0;
        left: initial;
        color: var(--white);
    }
}